/* start global values  */
/* create the variables of the color and other values */
:root {
    --blue: rgb(83, 147, 248);
    --white: rgb(255, 255, 255);
    --gray: rgb(236, 236, 236);
    --dark-gray: rgb(213, 213, 213);
    --red: rgb(229, 71, 47);
    --green: rgb(56, 149, 136);
    --text-color-one: rgb(25, 25, 25);
    --text-color-two: rgb(114, 117, 114);
    --shadow-color :rgb(250, 250, 250);
}
* { transition: 0.4s ;}
/* end global values  */

/* start header section  */
header {
    width: 100%;
    height:100vh;
    background-color: var(--gray);
    position: relative;
}
nav {
    background-color: var(--white);
    width: 100%;
    box-shadow: 0px 5px 10px 0px #DDD;
}
.container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}
.container .link {
    text-decoration: none;
    font-size: 22px ;
    font-weight: 700;
    padding: 20px;
    color: var(--blue);
}
.container ul {
    display: flex;
    padding: 0px 20px;
    margin: 0;
    margin-left: auto;
}
.container ul li {
    list-style: none;
    padding: 0px 30px ;
    padding: 24px;
    height: 100%;
    position: relative;
}
.container ul li::after
{
    position :absolute;
    content: "";
    width: 100%;
    height: 5px;
    background-color: var(--blue);
    top: 0;
    left: 0;
    transform-origin: left center;
    transform: scaleX(0);
    transition: 0.4s;
}
.container ul li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color-one);
}
.container ul li:hover { background-color: var(--shadow-color); }
.container ul li:hover::after { transform: scaleX(1); }
.container ul li:hover a{ color: var(--blue); }
@media (max-width : 767px) {
    .container {flex-direction: column;}
    .container .link {font-size: 20px; margin: 20px 0px 10px; padding: 0;}
    .container ul {margin: 0; }
    .container ul li {padding: 10px 10px 15px;}
    .container ul li::after {height: 3px;}
    .container ul li a{font-size: 14px; }
}
header nav .container .pop {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 480px ;
    background-color: var(--white);
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-bottom: 5px solid var(--blue);
}
header nav .container .pop .img { padding: 70px 0px ; }
@media (max-width:1200px) { header nav .container .pop .img { display: none; } }
header nav .container .pop .text { 
    display: flex;
    justify-content: space-evenly   ;
}
header nav .container .pop .text ul{ 
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0px 10px;
}
header nav .container .pop .text ul li{ 
    padding: 0px 40px 0px;
    display: flex;
    height: 75px;
    align-items: center;
    padding: 0px 20px;
    margin: 0px 20px;
    color: var(--blue);
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid var(--dark-gray);
}
header nav .container .pop .text ul li:last-child{
    border: none;
} 
header nav .container .pop .text ul li i{ margin: 0px 10px ; }
header nav .container .pop .text ul li a{color: var(--blue); font-size: 18px;}
@media (max-width:767PX) {
    header nav .container .pop  {height: 800px;} 
    header nav .container .pop .text { 
        flex-direction: column;
    }
    header nav .container .pop .text ul li:last-child{
        dwborder-bottom: 1px solid var(--dark-gray);
        
    } 
}

/* end header section  */