/* start global values  */
/* create the variables of the color and other values */
:root {
    --blue: rgb(83, 147, 248);
    --white: rgb(255, 255, 255);
    --gray: rgb(236, 236, 236);
    --dark-gray: rgb(213, 213, 213);
    --red: rgb(229, 71, 47);
    --green: rgb(56, 149, 136);
    --text-color-one: rgb(25, 25, 25);
    --text-color-two: rgb(114, 117, 114);
    --shadow-color :rgb(250, 250, 250);
}
* { transition: 0.4s ;}

body {font-family: 'Cairo', sans-serif;}
/* end global values  */

/* start header section  */
/* set the dimensions of the section */
header {
    width: 100%;
    height: 100vh;
    background-color: var(--gray);
    position: relative;
    overflow: hidden;
}
/* start the nav bar  */
header nav {
    background-color: var(--white);
    width: 100%;
    box-shadow: 0px 5px 10px 0px #DDD;
}
header nav .container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
}
header nav .container > a {
    font-size: 22px ;
    text-decoration: none;
    font-weight: 600;
    padding: 0px 20px;
}
header nav .container .main-nav {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: auto;
    height: 100%;
    padding: 0;
    list-style: none;
}
header nav .container .main-nav .link .a {
    display: inline-block;
    position: relative;
    padding: 20px ;
    font-size: 16px;
    text-decoration: none;
    height: 100% ;
    color: var(--text-color-one);
}
header nav .container .main-nav .link .a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    transform-origin: left center;
    transform: scaleX(0);
    transition: 0.4s;
    background-color: var(--blue);
    top: 0;
    left: 0;
}

header nav .container .main-nav .link:hover {background-color: var(--gray);}
header nav .container .main-nav .link:hover .a{color: var(--blue);}
header nav .container .main-nav .link .a:hover::after{transform: scaleX(1);}
@media (max-width:767px) {
    header nav .container {flex-direction: column;}
    header nav .container > a {margin: 20px 0px 10px;}
    header nav .container .main-nav {margin-left: 0;}
    header nav .container .main-nav .link .a {padding: 10px 15px;}
}
/* start the pop up menu  */
header .mega-menu {
    position: absolute;
    width: 100%;
    padding: 30px 20px;
    background-color: var(--white);
    top: 150%;
    opacity: 0;
    display: none;
    left: 0;
    z-index: -1;
    display: flex;    
    border-bottom: 5px solid var(--blue);
}
header .mega-menu .img { margin-right: 60px;}
header .mega-menu .links {
    list-style: none;
    padding: 0;
    margin: 0px 20px ;
}
header .mega-menu .links li {border-bottom: 1px solid var(--gray);}
header .mega-menu .links li:last-child {border-bottom:none;}
header .mega-menu .links li a {
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 600;
    color: var(--blue);
    text-decoration: none;
    position: relative;
}
header .mega-menu .links li a:hover{
    background-color: var(--gray);
}
header .mega-menu .links li a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    transform-origin: left center;
    transform: scaleX(0);
    transition: 0.4s;
    background-color: var(--blue);
    top: 0;
    left: 0;
}
header .mega-menu .links li a:hover::after{ transform: scaleX(1); }
header .mega-menu .links li a i{
    padding: 0px 10px;
}
@media (max-width :1200px ){
    header .mega-menu .img { display:none;}
    header .mega-menu .links {flex: 1;}
}
@media (max-width :767px ){
    header .mega-menu {flex-direction: column;}
    header .mega-menu .links li {border-bottom: 1px solid var(--gray) !important;}
    header .mega-menu .links li:last-child {border-bottom: none !important;}
    
}
header nav ,.container:hover {z-index: 200;} 
header  .main-nav .menu:hover .mega-menu{ opacity: 1; top: 100%; }
/* end the pop up menu  */
/* end the nav bar  */
header > .container {
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 100;
} 
header > .container .text{
    width: 50%;
}
header > .container .text p{
    padding: 0px 40px 0px 0px;
}
header > .container .img{
    position: absolute;
    right: 0;
    width: 50%;
}

/* end header section  */